header {
  padding: 15.5px 68px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 74px;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo_section {
  display: flex;
  align-items: center;
}
.menu_section {
  display: flex;
  align-items: center;
  justify-content: center;
  & > a:not(:last-child) {
    margin-right: 60px;
  }
  a {
    text-decoration: none;
    color: #525f7f;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}
.btn_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn_login {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    background: #3d55df;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1),
      0px 3px 6px rgba(0, 0, 0, 0.08);
    color: white;
    cursor: pointer;
    text-decoration: none;
    img {
      margin-right: 10px;
    }
    padding: 12px 16px;
    transition: all 0.3s ease;

    &:hover {
      background: #4c60d6;
    }
    &:active {
      transform: scale(0.95);
      background: #3d55df;
    }
  }
}
