<header>
  <a class="logo_section" routerLink="" routerLinkActive="active">
    <img src="assets/icons/logo_1.svg" alt="logo" width="27" height="30" />
    <img src="assets/icons/logo_2.svg" alt="logo" width="109" height="26" />
  </a>
  <div class="menu_section">
    <a routerLink="" routerLinkActive="active">Home</a>
    <a routerLink="services" routerLinkActive="active">Services</a>
    <a routerLink="about-us" routerLinkActive="active">About us</a>
  </div>
  <div class="btn_section">
    <div
      *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuthenticated"
    >
      <div class="dropdown">
        <img class="avatar" src="assets/images/Ikbal.png" alt="avatar" />
        <div class="dropdown-content">
          <a routerLink="#">{{ userEmail }}</a>
          <a routerLink="#" (click)="signout()">Sign Out</a>
        </div>
      </div>
    </div>
    <ng-template #noAuthenticated>
      <a class="btn_login" routerLink="signin">
        <img
          src="assets/icons/login_btn_key.svg"
          alt="logo"
          width="16"
          height="16"
        />
        <p>Login</p>
      </a>
    </ng-template>
  </div>
</header>
