<header>
  <div class="logo_section">
    <img src="assets/icons/logo_1.svg" alt="logo" width="27" height="30" />
    <img src="assets/icons/logo_2.svg" alt="logo" width="109" height="26" />
  </div>
  <div class="menu_section">
    <a href="/">Home</a>
    <a href="/">Services</a>
    <a href="/">About us</a>
  </div>
  <div class="btn_section">
    <div class="btn_login">
      <img
        src="assets/icons/login_btn_key.svg"
        alt="logo"
        width="16"
        height="16"
      />
      <p>Login</p>
    </div>
  </div>
</header>
