<div class="home">
  <div class="looking_for_section">
    <span>What are you looking for?</span>
    <div class="card">
      <img src="assets/icons/circle.svg" alt="character" />
      <div class="card_body">
        <div class="card_title">Help me create a Marketing Plan!</div>
        <div class="card_content">
          The Arctic Ocean freezes every winter and much of the sea-ice then
          thaws every summer, and that
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/icons/circle.svg" alt="character" />
      <div class="card_body">
        <div class="card_title">I know what i am looking for.</div>
        <div class="card_content">
          The Arctic Ocean freezes every winter and much of the sea-ice then
          thaws every summer, and that
        </div>
      </div>
    </div>
  </div>
  <div class="character_section">
    <img src="assets/images/Ikbal.png" alt="character" />
    <div class="help_section_1">
      <b>Hi there!</b> Need help in creating a Marketing plan for your business?
      I can help you to create one using <b>Retink AI engine.</b>
    </div>
    <div class="help_section_2">Click on the options to get started</div>
  </div>
</div>
