/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0;
}
